<app-banner></app-banner>

Pagina PUBLICA

<!-- <section class="w3l-feature-3" id="">
	<div class="grid top-bottom mb-lg-5 pb-lg-5">
		<div class="container">
			<div *ngIf ="authenticate" class="middle-section grid-column text-center">
				<div class="three-grids-columns">
          <a [routerLink]="'/calendar'" class="red mt-3">
            <span class="fa fa-calendar"></span>
          </a>

					<h4>Calendario</h4>
					<p>Auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet</p>
          <a [routerLink]="'/calendar'" class="red mt-3">Read More </a>
				</div>
				<div class="three-grids-columns">
          <a [routerLink]="'/physical-health'" class="red mt-3">
            <span class="fa fa-heartbeat"></span>
          </a>

					<h4>Salud Fisica</h4>
					<p>Auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet</p>
					<a [routerLink]="'/physical-health'" class="red mt-3">Read More </a>
				</div>
				<div class="three-grids-columns">
          <a [routerLink]="'/nutritional-health'" class="red mt-3">
            <span class="fa fa-balance-scale"></span>
          </a>

					<h4>Salud Nutricional</h4>
					<p>Auci elit cons equat ipsutis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet</p>
					<a [routerLink]="'/nutritional-health'" class="red mt-3">Read More </a>
				</div>
			</div>
		</div>
	</div> -->
<!-- </section> -->
