<!-- Top Menu 1 -->
<!-- <section class="w3l-top-menu-1">
	<div class="top-hd">
    <div class="container">
      <header class="row top-menu-top">
        <div class="accounts col-md-9 col-6">
            <li class="top_li"><span class="fa fa-phone"></span><a href="tel:+142 5897555">+142 5897555</a> </li>
            <li class="top_li1"><span class="fa fa-envelope-o"></span> <a href="mailto:education-mail@support.com" class="mail"> info@example.com</a>	</li>
        </div>
        <div class="social-top col-md-3 col-6">
          <div class="main-social-head">
            <a href="#facebook" class="facebook"><span class="fa fa-facebook"></span></a>
            <a href="#twitter" class="twitter"><span class="fa fa-twitter"></span></a>
            <a href="#instagram" class="instagram"><span class="fa fa-instagram"></span></a>
          </div>
        </div>
      </header>
    </div>
  </div>
</section> -->
<!-- //Top Menu 1 -->
<section class="w3l-bootstrap-header">
  <nav class="navbar navbar-expand-lg navbar-light py-lg-2 py-2">
    <div class="container">
      <img src="../../../assets/images/bio-lab.png" alt="My LAB" width="50" height="50">
      <!-- <a class="navbar-brand" href="index.html"><span class="">Vitality</span>  Bond</a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto mt-2">
          <!-- <li class="nav-item" *ngIf ="authenticated && isAdmin">
            <a class="nav-link" [routerLink]="'/home'">Opcion 1 </a>
          </li> -->
          <li class="nav-item" *ngIf ="authenticated  && isAdmin">
            <a class="nav-link" [routerLink]="'/order'">Ordenes</a>
          </li>
          <li class="nav-item" *ngIf ="authenticated  && isAdmin">
            <a class="nav-link" [routerLink]="'/clinical-studies'">Estudios</a>
          </li>
           <li class="nav-item" *ngIf ="authenticated  && isAdmin">
            <a class="nav-link" [routerLink]="'/user'">Usuarios</a>
          </li>
          <li class="nav-item" *ngIf ="authenticated  && isAdmin">
            <a class="nav-link" href="contact.html">Reportes</a>
          </li>
          
          <!-- <li class="nav-item">
            <a *ngIf ="authenticated  && isAdmin" class="nav-link" [routerLink]="'/conf'">Admin </a>
          </li> -->
          <!-- <li class="nav-item">
            <a *ngIf ="authenticated  && isAdmin" class="nav-link" [routerLink]="'/email'">Emails </a>
          </li> -->
        </ul>
        <!-- <button *ngIf ="!authenticate" mat-stroked-button color="primary" style="background-color: #FC501F; color: #FFFFFF; border-color: #FFFFFF;" (click)="openLoginDialog()">
          <i class="fa fa-sign-in"></i>&nbsp;Sign In
        </button> -->
        <span *ngIf ="authenticated" class="user-logged">{{ user?.name + " " + user?.lastName }}</span>
        <button *ngIf ="!authenticated" mat-raised-button color="primary" (click)="openLoginDialog()">Login</button>
        <button *ngIf ="authenticated" mat-stroked-button color="primary" style="background-color: #FC501F; color: #FFFFFF; border-color: #FFFFFF;" (click)="logoutUser()">
          <i class="fa fa-sign-out"></i>&nbsp;Logout
        </button>
        <!-- <form action="#" class="form-inline position-relative my-2 my-lg-0">
          <input class="form-control search" type="search" placeholder="Search here..." aria-label="Search" required="">
          <button class="btn btn-search position-absolute" type="submit"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form> --> 
      </div>
    </div>
  </nav>
</section>
