<app-banner></app-banner>
<div class="row margin-row">
	<div class="col-xs-12 col-sm-12">
	  <mat-card>
		  <mat-card-header>
			<div mat-card-avatar class="example-header-image"></div>
			<mat-card-title class="car-title-color">CLINICAL STUDIES </mat-card-title>
		  </mat-card-header>
		  sdsadsadsa
		  <mat-card-actions align="end">
			<!-- <button mat-raised-button color="primary" *ngIf="!active" class="margin-bnt" type = "button" (click)="activateUsers()">Activate User</button>
			<button mat-raised-button color="warn" *ngIf="active" class="margin-bnt" type = "button" (click)="inactivateUsers()">Inactivate User</button> -->
			<button mat-raised-button color="primary" type = "button" (click)="openLoginDialog()">Add Order</button>
		  </mat-card-actions>
	  </mat-card>
	</div>
</div>
