.full-width {
    width: 100%!important;
}
// :host {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
// }
.form {
    min-width: 80%;
    max-width: 80%;
    width: 100%;
    margin-left: 10%;
}

.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
}

.example-full-width {
  width: 100%;
}

.margin-row {
  margin: 1%;
  // max-width: 50%;
}

.example-card {
  max-width: 400px;
}

.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

section {
  display: table;
  margin: 8px;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row button {
  display: table-cell;
  margin-right: 8px;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  width: 480px;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.car-title-color {
  color: #FC501F;
}

.card-action-margin {
  margin-bottom: 5% !important;
}

.mat-form-field {
  display: inline;
  position: relative;
  text-align: left;
}

.margin-card-top {
  margin-top: 2%;
}

.form-background-color {
  background-color: whitesmoke;
  padding-top: 1%;
}

table {
  width: 100%;
}
